<launch>

  <!-- set to value="gdbserver localhost:10000" for remote debugging -->
  <arg name="launch_prefix" default="" />

  <!-- 配置相机输入 -->
  <arg name="camera_name_01" default="/rmtt_01" />
  <arg name="camera_name_02" default="/rmtt_02" />
  <arg name="image_topic" default="image_raw" />
  <arg name="queue_size" default="1" />

  <!-- apriltag_ros continuous detection node (rmtt_01) -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_rmtt_01" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name_01)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name_01)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" /><!-- default: false -->
    <param name="queue_size" type="int" value="$(arg queue_size)" />

    <!-- load parameters (incl. tag family, tags, etc.) -->
    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml"/>
  </node>
  
  <!-- apriltag_ros continuous detection node (rmtt_02) -->
  <node pkg="apriltag_ros" type="apriltag_ros_continuous_node" name="apriltag_ros_rmtt_02" clear_params="true" output="screen" launch-prefix="$(arg launch_prefix)">
    <!-- Remap topics from those used in code to those on the ROS network -->
    <remap from="image_rect" to="$(arg camera_name_02)/$(arg image_topic)" />
    <remap from="camera_info" to="$(arg camera_name_02)/camera_info" />

    <param name="publish_tag_detections_image" type="bool" value="true" /><!-- default: false -->
    <param name="queue_size" type="int" value="$(arg queue_size)" />

    <!-- load parameters (incl. tag family, tags, etc.) -->
    <rosparam command="load" file="$(find apriltag_ros)/config/settings.yaml"/>
    <rosparam command="load" file="$(find apriltag_ros)/config/tags.yaml"/>
  </node>
  
</launch>
